@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 68.75%; } }

body {
  font-family: "Montserrat", "Franklin Gothic Medium", Arial, sans-serif;
  box-sizing: border-box; }
  @media only screen and (max-width: 48em) {
    body {
      padding-top: 68px; } }

a {
  text-decoration: none; }

li {
  list-style: none; }

.image {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.secondary-heading {
  font-size: 3rem;
  color: #583c05;
  text-transform: uppercase; }
  @media only screen and (max-width: 95em) {
    .secondary-heading {
      font-size: 2rem; } }
  @media only screen and (max-width: 29.0625em) {
    .secondary-heading {
      font-size: 1.5rem; } }

.text-light {
  color: #dfd0b0; }

.page-heading {
  font-size: 4.8rem;
  color: #58372D; }

.fireburst-text {
  color: #E64F34; }

.turquoiseburst-text {
  color: #0D7BA0; }

.container {
  max-width: 1300px;
  width: 75%;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 85%; } }
  @media only screen and (max-width: 25em) {
    .container {
      width: 90%; } }
  @media only screen and (max-width: 21.75em) {
    .container {
      width: 95%; } }

.text-center {
  text-align: center; }

.section {
  padding: 5rem 0; }
  @media only screen and (max-width: 42.125em) {
    .section {
      padding: 2rem 0; } }

.mb-5 {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 95em) {
    .mb-5 {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .mb-5 {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 29.0625em) {
    .mb-5 {
      margin-bottom: 2rem; } }

.mb-2-5 {
  margin-bottom: 2.5rem; }

.mb-1-5 {
  margin-bottom: 1.5rem; }

.hide {
  display: none; }

.btn {
  font-size: 1.6rem;
  color: black;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease-in, background-color 0.5s ease-in, border 0.5s ease-in; }
  @media only screen and (max-width: 95em) {
    .btn {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 29.0625em) {
    .btn {
      font-size: 1.25rem; } }
  @media only screen and (max-width: 25em) {
    .btn {
      font-size: 1rem; } }
  @media only screen and (max-width: 21.75em) {
    .btn {
      font-size: 0.85rem; } }

.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited {
  background: #dfd0b0;
  color: #583c05;
  border: 1px solid #dfd0b0; }

.btn-secondary:hover {
  background: transparent;
  color: #dfd0b0;
  border: 2px solid #dfd0b0; }

.btn-tertiary,
.btn-tertiary:link,
.btn-tertiary:visited {
  background: #ffc25a;
  color: #583c05;
  border: 1px solid #ffc25a; }

.btn-tertiary-transparent,
.btn-tertiary-transparent:link,
.btn-tertiary-transparent:visited {
  background: transparent;
  color: #ffc25a;
  border: 1px solid #ffc25a; }

.btn-tertiary:hover {
  background: transparent;
  color: #ffc25a; }

.btn-tertiary-transparent:hover {
  background: #ffc25a;
  color: #583c05; }

.btn-tertiary-dark-text:hover {
  background: transparent;
  color: #583c05;
  border: 2px solid #583c05; }

.btn-group {
  display: flex; }
  .btn-group .btn:first-child {
    border-radius: 5px 0 0 5px; }
  .btn-group .btn:last-child {
    border-radius: 0 5px 5px 0; }

.card {
  width: 40rem;
  padding: 5rem 0;
  background-color: rgba(255, 194, 90, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5rem auto; }

.card-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-header {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 95em) {
    .card-header {
      margin-bottom: 2rem; } }

#contact-form {
  width: 95%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #contact-form button {
    align-self: center;
    font-family: "Montserrat", "Franklin Gothic Medium", Arial, sans-serif;
    padding-right: 3rem;
    padding-left: 3rem; }

.form-group {
  margin-bottom: 1.25rem; }
  .form-group > * {
    display: block;
    font-family: "Montserrat", "Franklin Gothic Medium", Arial, sans-serif; }
  .form-group label {
    color: #dfd0b0;
    margin-bottom: 0.3rem; }
  .form-group input,
  .form-group textarea {
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
    width: 100%; }

.hamburger {
  cursor: pointer;
  display: none;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */ }
  @media only screen and (max-width: 48em) {
    .hamburger {
      display: inline-block;
      position: relative;
      z-index: 100; } }
  .hamburger .bar1,
  .hamburger .bar2,
  .hamburger .bar3 {
    width: 35px;
    height: 3px;
    background-color: #dfd0b0;
    margin: 5px 0;
    transition: 0.4s; }
  .hamburger .change.bar1 {
    transform: rotate(-45deg) translate(-6px, 5px); }
  .hamburger .change.bar2 {
    opacity: 0; }
  .hamburger .change.bar3 {
    transform: rotate(45deg) translate(-6px, -6px); }

nav a:link,
nav a:visited {
  color: #dfd0b0; }

nav a:hover {
  color: #f8eeda; }

.brand h1,
.brand h5 {
  display: flex;
  flex-direction: column;
  text-align: center; }

.brand h1 {
  font-size: 1.8rem; }
  @media only screen and (max-width: 37.5em) {
    .brand h1 {
      font-size: 1.5rem; } }

.brand h5 {
  font-size: 1.1rem; }
  @media only screen and (max-width: 37.5em) {
    .brand h5 {
      font-size: 1rem; } }

.brand h1 span:first-child {
  word-spacing: -1rem; }

.brand h5 span:first-child {
  word-spacing: -0.5rem; }

.brand h1 span:first-child,
.brand h5 span:first-child {
  font-family: "Segoe Script", cursive; }

.brand h1 span:last-child,
.brand h5 span:last-child {
  text-transform: uppercase; }

.brand h1 span:last-child {
  margin-top: -1rem; }

.brand h5 span:last-child {
  margin-top: -0.5rem; }

.main-nav,
.footer-nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 48em) {
    .main-nav,
    .footer-nav {
      display: none; } }
  .main-nav a,
  .footer-nav a {
    font-weight: bold; }

.main-nav {
  font-size: 1.2rem; }

.mobile-nav {
  position: relative;
  top: 1.5rem;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0 0; }
  .mobile-nav li,
  .mobile-nav a {
    color: #dfd0b0; }
  .mobile-nav li {
    border-top: 1px solid #dfd0b0;
    padding: 1rem 0; }
  .mobile-nav a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.overlay-primary-dark {
  background: rgba(52, 33, 27, 0.8); }

.overlay-black {
  background: rgba(25, 12, 8, 0.88); }

.overlay-black-wood-bg {
  background: rgba(0, 0, 0, 0.7); }

.overlay-white {
  background: rgba(250, 250, 250, 0.86);
  z-index: 1; }

.overlay-white-wood-bg {
  background: rgba(250, 250, 250, 0.7); }

#main-footer {
  position: relative;
  background: url("../img/backgrounds/purty_wood.png");
  border-top: 1px solid #dfd0b0; }
  #main-footer .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #main-footer .back-to-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dfd0b0;
    padding: 1.5rem 2.5rem; }
  #main-footer .footer-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem; }
    #main-footer .footer-brand .copyright {
      font-size: 0.75rem;
      color: #dfd0b0;
      align-self: flex-end; }

#main-header {
  position: relative;
  padding: 1.5rem 0;
  background: url("../img/backgrounds/purty_wood.png");
  z-index: 2;
  color: #dfd0b0; }
  @media only screen and (max-width: 48em) {
    #main-header {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0; } }
  #main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative; }

#thanks {
  background: url("../img/backgrounds/purty_wood.png");
  position: relative;
  height: calc(100vh - 120px); }
  #thanks .container {
    position: relative;
    z-index: 1;
    color: #583c05;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #thanks .thanks-content {
    position: relative;
    bottom: 15%; }
  #thanks h2 {
    font-size: 4.5rem; }
  #thanks p {
    font-size: 1.75rem; }

#hero {
  position: relative;
  height: calc(100vh - 75.8px);
  background: url("../img/guitar-sgt2-whole-rearview.jpg") no-repeat center center/cover; }
  #hero .container {
    position: relative;
    z-index: 1;
    color: #dfd0b0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
  #hero .hero-heading {
    font-size: 5.2rem;
    text-transform: uppercase;
    word-spacing: -0.5rem; }
    @media only screen and (max-width: 48em) {
      #hero .hero-heading {
        font-size: 4.75rem; } }
    @media only screen and (max-width: 42.125em) {
      #hero .hero-heading {
        font-size: 4.25rem; } }
    @media only screen and (max-width: 37.5em) {
      #hero .hero-heading {
        font-size: 3.75rem; } }
    @media only screen and (max-width: 29.0625em) {
      #hero .hero-heading {
        font-size: 3.25rem; } }
    @media only screen and (max-width: 25em) {
      #hero .hero-heading {
        font-size: 3rem; } }
    @media only screen and (max-width: 21.75em) {
      #hero .hero-heading {
        font-size: 2.5rem; } }
    #hero .hero-heading span {
      word-spacing: -1rem; }
  #hero .lead {
    font-weight: bold;
    font-size: 2.2rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.08rem;
    line-height: 3.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 48em) {
      #hero .lead {
        font-size: 1.75rem; } }
    @media only screen and (max-width: 42.125em) {
      #hero .lead {
        font-size: 1.65rem;
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      #hero .lead {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
        margin-top: -0.5rem; } }
    @media only screen and (max-width: 29.0625em) {
      #hero .lead {
        font-size: 1.25rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 25em) {
      #hero .lead {
        font-size: 1.1rem;
        margin-bottom: 0.9rem; } }
    @media only screen and (max-width: 21.75em) {
      #hero .lead {
        font-size: 0.95rem;
        margin-bottom: 0.1rem;
        margin-top: -1rem; } }

#shop-section {
  background-image: url("../img/backgrounds/purty_wood.png");
  position: relative;
  height: 50vh;
  overflow: hidden; }
  @media only screen and (max-width: 42.125em) {
    #shop-section {
      height: 40vh; } }
  @media only screen and (max-width: 29.0625em) {
    #shop-section {
      height: 30vh; } }
  #shop-section figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #shop-section figure figcaption {
      z-index: 2; }
    #shop-section figure h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
  #shop-section .available-guitars {
    background: url("../img/guitar-sgt1-body.jpg") no-repeat center center/cover; }
  #shop-section .available-materials {
    background: url("../img/guitar-sgt2-body.jpg") no-repeat center center/cover; }
  #shop-section .available-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

#gallery .gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;
  overflow: hidden; }
  @media only screen and (max-width: 48em) {
    #gallery .gallery-wrapper {
      height: 25vh; } }

#past-guitars {
  position: relative;
  height: 50vh;
  background: url("../img/guitar-sgt1-whole.jpg") no-repeat center center/cover; }
  @media only screen and (max-width: 48em) {
    #past-guitars {
      height: auto;
      padding: 10rem 0; } }
  #past-guitars .past-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }

#about {
  position: relative;
  background: url("../img/backgrounds/purty_wood.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 48em) {
    #about {
      height: auto; } }
  #about .container {
    position: relative;
    z-index: 1; }
  #about p {
    width: 80%;
    margin: 0 auto 2rem;
    font-size: 1.8rem;
    line-height: 2.2rem; }
    @media only screen and (max-width: 95em) {
      #about p {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 29.0625em) {
      #about p {
        font-size: 1.1rem; } }

#contact {
  position: relative;
  background: url("../img/backgrounds/purty_wood.png"); }
  #contact .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center; }

#guitar-page-main-content {
  background-image: url("../img/backgrounds/purty_wood.png");
  height: 100%;
  position: relative; }
  #guitar-page-main-content .container {
    position: relative;
    z-index: 1; }

.guitars-heading-text {
  font-size: 1.8rem;
  line-height: 2.2rem;
  width: 60%;
  color: #583c05; }
  @media only screen and (max-width: 95em) {
    .guitars-heading-text {
      width: 70%;
      font-size: 1.4rem; } }
  @media only screen and (max-width: 86.25em) {
    .guitars-heading-text {
      width: 75%; } }
  @media only screen and (max-width: 75em) {
    .guitars-heading-text {
      width: 80%; } }
  @media only screen and (max-width: 42.125em) {
    .guitars-heading-text {
      width: 90%; } }
  @media only screen and (max-width: 29.0625em) {
    .guitars-heading-text {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 21.75em) {
    .guitars-heading-text {
      width: 100%; } }
  .guitars-heading-text a:link,
  .guitars-heading-text a:visited {
    color: #E64F34; }
  .guitars-heading-text a:hover {
    color: #9f2915; }

.main-model-image {
  width: 60%; }
  @media only screen and (max-width: 95em) {
    .main-model-image {
      width: 70%; } }
  @media only screen and (max-width: 86.25em) {
    .main-model-image {
      width: 75%; } }
  @media only screen and (max-width: 75em) {
    .main-model-image {
      width: 80%; } }
  @media only screen and (max-width: 42.125em) {
    .main-model-image {
      width: 90%; } }
  @media only screen and (max-width: 21.75em) {
    .main-model-image {
      width: 100%; } }
  .main-model-image img {
    border-radius: 5px; }

.guitar-section {
  margin-bottom: 10rem; }

.specifications {
  color: #583c05; }

.specification-title {
  font-size: 2.5rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 75em) {
    .specification-title {
      font-size: 2rem; } }
  @media only screen and (max-width: 42.125em) {
    .specification-title {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 21.75em) {
    .specification-title {
      font-size: 1.4rem; } }

.specification-list .specification {
  font-size: 2.2rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 75em) {
    .specification-list .specification {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 42.125em) {
    .specification-list .specification {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 21.75em) {
    .specification-list .specification {
      font-size: 1.2rem; } }
  .specification-list .specification h5 {
    display: inline;
    text-transform: uppercase; }

.gallery-images {
  display: flex;
  gap: 5px; }
  @media only screen and (max-width: 75em) {
    .gallery-images {
      flex-wrap: wrap; } }
  .gallery-images .gallery-image-container {
    width: 75px;
    height: 75px; }
    @media only screen and (max-width: 75em) {
      .gallery-images .gallery-image-container {
        width: 50px;
        height: 50px; } }
  .gallery-images img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px; }
