// MAIN COLORS
$primary-color: #583c05;
$primary-color-dark-overlay: rgba(52, 33, 27, 0.8);
$secondary-color: #dfd0b0;
$secondary-color-light: #f8eeda;
$tertiary-color: #ffc25a;

//WHITE AND BLACK
$color-white: #fff;
$color-black: #000;
$black-overlay: rgba(25, 12, 8, 0.88);
$black-overlay-wood: rgba(0, 0, 0, 0.7);
$white-overlay: rgba(250, 250, 250, 0.86);
$white-overlay-wood-bg: rgba(250, 250, 250, 0.7);

// FONTS
$main-font: "Montserrat", "Franklin Gothic Medium", Arial, sans-serif;
$logo-font: "Segoe Script", cursive;

// BACKGROUND IMAGES
$wood-background: "../img/backgrounds/purty_wood.png";
