.btn {
  font-size: 1.6rem;
  color: black;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease-in, background-color 0.5s ease-in, border 0.5s ease-in;

  @include respond(small-laptop) {
    font-size: 1.4rem;
  }

  @include respond(small-med-phone) {
    font-size: 1.25rem;
  }

  @include respond(small-phone) {
    font-size: 1rem;
  }

  @include respond(very-small-phone) {
    font-size: 0.85rem;
  }
}

.btn-primary, 
.btn-primary:link, 
.btn-primary:visited {
  background: $primary-color;
  color: $color-white;
}

.btn-primary:hover {
  background: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.btn-secondary, 
.btn-secondary:link, 
.btn-secondary:visited {
  background: $secondary-color;
  color: $primary-color;
  border: 1px solid $secondary-color;
}

.btn-secondary:hover {
  background: transparent;
  color: $secondary-color;
  border: 2px solid $secondary-color;
}

.btn-tertiary,
.btn-tertiary:link,
.btn-tertiary:visited {
  background: $tertiary-color;
  color: $primary-color;
  border: 1px solid $tertiary-color;
}

.btn-tertiary-transparent,
.btn-tertiary-transparent:link,
.btn-tertiary-transparent:visited {
  background: transparent;
  color: $tertiary-color;
  border: 1px solid $tertiary-color;
}

.btn-tertiary:hover {
  background: transparent;
  color: $tertiary-color;
}

.btn-tertiary-transparent:hover {
  background: $tertiary-color;
  color: $primary-color;
}

.btn-tertiary-dark-text:hover {
  background: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.btn-group {
  display: flex;

  .btn:first-child {
    border-radius: 5px 0 0 5px;
  }

  .btn:last-child {
    border-radius: 0 5px 5px 0;
  }
}
