.btn {
  font-size: 1.6rem;
  color: black;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease-in, background 0.5s ease-in, border 0.5s ease-in;
}

.btn-tertiary {
  background: $tertiary-color;
  color: $primary-color;
  border: 1px solid $tertiary-color;
}

.btn-tertiary-transparent {
  background: transparent;
  color: $tertiary-color;
  border: 1px solid $tertiary-color;
}

.btn-tertiary:hover {
  background: transparent;
  color: $tertiary-color;
}

.btn-tertiary-transparent:hover {
  background: $tertiary-color;
  color: $primary-color;
}

.btn-tertiary-dark-text:hover {
  background: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
}

.btn-group {
  display: flex;

  .btn:first-child {
    border-radius: 5px 0 0 5px;
  }

  .btn:last-child {
    border-radius: 0 5px 5px 0;
  }
}

// .back-to-top svg path {
//   fill: $secondary-color;
// }
