.main-nav,
.footer-nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;

  @include respond(ipad) {
    display: none;
  }

  a {
    font-weight: bold;
  }
}

.main-nav {
  font-size: 1.2rem;
}
