.container {
  max-width: 1300px;
  width: 75%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section {
  padding: 5rem 0;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}
