// Hero Section
#hero {
  position: relative;
  height: calc(100vh - 75.8px);
  background: url("../img/guitar-sgt2-whole-rearview.jpg") no-repeat center center /
    cover;

  .container {
    position: relative;
    z-index: 1;
    color: $secondary-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .hero-heading {
    font-size: 5.2rem;
    text-transform: uppercase;
    word-spacing: -0.5rem;

    @include respond(ipad) {
      font-size: 4.75rem;
    }

    @include respond(large-phone) {
      font-size: 4.25rem;
    }

    @include respond(phone) {
      font-size: 3.75rem;
    }

    @include respond(small-med-phone) {
      font-size: 3.25rem;
    }

    @include respond(small-phone) {
      font-size: 3rem;
    }

    @include respond(very-small-phone) {
      font-size: 2.5rem;
    }

    span {
      word-spacing: -1rem;
    }
  }

  .lead {
    font-weight: bold;
    font-size: 2.2rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.08rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;

    @include respond(ipad) {
      font-size: 1.75rem;
    }

    @include respond(large-phone) {
      font-size: 1.65rem;
      margin-bottom: 1.5rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
      margin-bottom: 1.2rem;
      margin-top: -0.5rem;
    }

    @include respond(small-med-phone) {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    @include respond(small-phone) {
      font-size: 1.1rem;
      margin-bottom: 0.9rem;
    }

    @include respond(very-small-phone) {
      font-size: 0.95rem;
      margin-bottom: 0.1rem;
      margin-top: -1rem;
    }
  }
}

// Shop Section
#shop-section {
  background-image: url($wood-background);
  position: relative;

  height: 50vh;
  overflow: hidden;

  @include respond(large-phone) {
    height: 40vh;
  }

  @include respond(small-med-phone) {
    height: 30vh;
  }

  figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    figcaption {
      z-index: 2;
    }

    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }

  .available-guitars {
    background: url("../img/guitar-sgt1-body.jpg") no-repeat center center / cover;
  }

  .available-materials {
    background: url("../img/guitar-sgt2-body.jpg") no-repeat center center /
      cover;
  }

  .available-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

// Gallery
#gallery {
  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50vh;
    overflow: hidden;

    @include respond(ipad) {
      height: 25vh;
    }
  }
}

// Past Guitars
#past-guitars {
  position: relative;
  height: 50vh;
  background: url("../img/guitar-sgt1-whole.jpg") no-repeat center center / cover;

  @include respond(ipad) {
    height: auto;
    padding: 10rem 0;
  }

  .past-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// About
#about {
  position: relative;
  background: url($wood-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(ipad) {
    height: auto;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  p {
    width: 80%;
    margin: 0 auto 2rem;
    font-size: 1.8rem;
    line-height: 2.2rem;

    @include respond(small-laptop) {
      font-size: 1.4rem;
    }

    @include respond(small-med-phone) {
      font-size: 1.1rem;
    }
  }
}

// Contact
#contact {
  position: relative;
  background: url($wood-background);

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
}
